.login-background {
    //background-image: url("@/assets/images/login.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($black, $alpha: 0.2);
    }

  .login-input {
    font-size: 18px;
    color: #979797;
    padding: 15px 30px 15px 15px;
    border: 1px solid #979797;
    border-radius: 4px;
    background-color: #fff;
}

}