.front-checkcart {
  .header-banner {
    background-position: center 70%;
    background-size: cover;
    height: 300px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($black, $alpha: 0.2);
    }
    .title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15%;
    }
  }
  @include max-767 {
    .header-banner {
      height: 240px;
      background-position: center center;
    }
  }

  .input-qty {
    background: transparent;
    border-radius: 0;
    border: 1px solid rgba($dark, .2);
    text-align: center;
    color: $gray-600;;
    padding: .6rem;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &:focus, &:hover {
      color: $gray-700;
      box-shadow: none;
      background: transparent;
      outline: 0;
      border-color: rgba($dark, .6);
    }
  }

  

  .imgbox-small{
    object-fit: cover;
    width: 80px;
    height: 110px;
    object-position: center center;
}

}